@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assuming the font files are in the 'public/fonts' directory of your Next.js project */

@font-face {
    font-family: 'GT Walsheim';
    src: url('/fonts/GT Walsheim Bold.ttf') format('truetype');
    /* Add more font formats if needed, like .woff2, .woff, etc. */
    font-weight: bold;
    font-style: normal;
}  

* {
    --highlight: #ffffff;
    --indigo: #6266F0;
    --text: #222222;
    --bg: white;
}
  
body {
    color: var(--text);
    font-family: 'GT Walsheim';
    background-color: var(--bg);
}

.mask {
    -webkit-mask-image: linear-gradient( white 50%, white 50%);
    mask-image: linear-gradient(white 50%, white 50%);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
    display: none;
}